/* 
    Classes to fix the action buttons to the top left of the screen.
    They only apply when ".action-buttons-fixed" is applied to body
*/

body.action-buttons-fixed .main > h1.page-title:first-child + .container-fluid {
    margin-top: 84px;
}

body.action-buttons-fixed .main > h1.page-title:first-child {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 1020;
}

body.action-buttons-fixed .main .edit-item-secondary {
    position: fixed;
    top: 66px;
    right: 30px;
    justify-content: flex-end !important;
    z-index: 1020;
}

/* When message is after page title this sticks to the page-title */
body.action-buttons-fixed .page-title + .message {
    margin-top: 59px;
}
