.input-validation-error {
    border-color: #f86c6b;

}

span.field-validation-error {
    font-size: 80%;
    color: #f86c6b;
}

.validation-summary-errors {
    position: relative;
    padding: 0.75rem 1.25rem;    
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid transparent;
    border-bottom: 1px solid #ffc107;       
    margin: -20px -20px 20px -20px;
}
.validation-summary-errors ul {
    list-style-type:disc;
    margin:8px 0px;
}
.validation-summary-errors ul li {
    margin-bottom: 8px;

}