@model QueriesEditViewModel

<zone name="PageTitle">
    <h1 class="page-title">@RenderTitleSegments(T["Edit '{0}' query", Model.Name])</h1>
</zone>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            @Model.Name
        </div>
        <div class="card-body">

            <form asp-action="Edit" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post" enctype="multipart/form-data">
                @Html.ValidationSummary()

                @if (Model.Editor.Content != null)
                {
                    @await DisplayAsync(Model.Editor.Content)
                }

                @if (Model.Editor.Content != null)
                {
                    <div class="edit-item-secondary">
                        <fieldset class="form-group">
                            @await DisplayAsync(Model.Editor.Actions)
                        </fieldset>
                    </div>
                }

                <input type="hidden" asp-for="Name" />
            </form>
        </div>
    </div>
</div>