@import "src/OrchardCore.Themes/orchard-core-admin-coreui/Assets/scss/imports/navigation.scss";
@import "src/OrchardCore.Themes/orchard-core-admin-coreui/Assets/scss/imports/validation.scss";
@import "src/OrchardCore.Themes/orchard-core-admin-coreui/Assets/scss/imports/messages.scss";
@import "src/OrchardCore.Themes/orchard-core-admin-coreui/Assets/scss/imports/theme-cards.scss";
@import "src/OrchardCore.Themes/orchard-core-admin-coreui/Assets/scss/imports/action-buttons-fixed.scss";

/* just to prevent codemirror adding border radius to everything */
div, img, span, li, .card {
    border-radius: 0px !important;
}

a:hover {
    cursor: pointer;
}


.page-title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    position: relative;
    border-bottom: 1px solid #a4b7c1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 30px;
    margin-bottom: 1.5rem;
    background-color: #fff;
}

.related {
    float: right !important;
}

.hint {
    font-size: small;
    color: #678898;
}


#modalSteps .card, #modalTargets .card {
    min-height: 200px;
}