@model dynamic
<zone name="PageTitle">
    <h1 class="page-title"> @RenderTitleSegments(T["Create User"])</h1>
</zone>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            @T["Create User"]
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                @Html.ValidationSummary()
                @await DisplayAsync(Model)
            </form>
        </div>
    </div>
</div>
<h1></h1>

